body {
	font-family: sans-serif;
	background-color: black;
	color: lightgrey;
}


#codigo-text {
	font-family: monospace;
	font-size: 1.2em;
	line-height: 1.1em;
	background-color: #1D2021;
	color: #A89984;
}

.text-monospace {
	font-family: monospace;
}

th {
	text-align: center;
}

th, td {
	padding-left:  5px;
	padding-right: 5px;
}

.titulo-tabla {
	text-align: left;
}
